@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap");
html, body {
  font-family: "Courier Prime", monospace;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.1), rgba(0, 0, 200, 0)), linear-gradient(120deg, rgba(50, 150, 100, 0.2), rgba(0, 0, 100, 0));
  overflow: hidden;
}

.container {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  max-height: 600px;
  max-width: 600px;
  overflow: hidden;
  border-radius: 20px;
}

.shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

#app {
  position: relative;
}

.image, .tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image svg, .tabs svg {
  width: 100%;
}

image {
  pointer-events: none;
}

.border {
  fill: white;
  fill-opacity: 0;
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.7;
  cursor: pointer;
}
.border:hover {
  stroke-opacity: 1;
}

text {
  fill: white;
  font-size: 28px;
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.75;
}

.tabs {
  z-index: 100;
}

.button {
  z-index: 101;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translatex(50%) translatey(-50%);
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
.button:hover {
  transform: translatex(52%) translatey(-48%);
}