html {
    height: 100%;
  }
  img {
    display: none;
  }
  body {
    background: #000;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  canvas {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  