* {
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  :root {
    --color: hsl(var(--hue), 80%, 60%);
  }
  .t-shirt {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .t-shirt__shirt {
    fill: var(--color);
  }
  .t-shirt__wrapper {
    position: relative;
  }
  .t-shirt__cannon {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10px;
    transform: translate(-50%, 0);
  }
  .t-shirt__cannon svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .cannon__shirt path {
    fill: var(--color);
  }
  .cannon__band {
    fill: #ffd500;
  }
  .cannon__plastic {
    fill: rgba(163,231,245,0.35);
  }
  .cannon__shine {
    fill: rgba(255,255,255,0.5);
  }
  .button {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem;
    padding-left: calc(1rem + 50px);
    position: relative;
    border-radius: 6px;
    border: 0;
    color: #fff;
    outline: transparent;
    min-width: 120px;
    -webkit-clip-path: inset(-1000% -1000% 0 0);
    clip-path: inset(-1000% -1000% 0 0);
  }
  .button__text {
    position: relative;
  }
  .button__text .dummy {
    color: transparent;
  }
  .button__text > .text {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
  }
  .button .word {
    display: inline-block;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  .button .char {
    display: inline-block;
  }
  .button__shirt {
    position: absolute;
    height: 32px;
    width: 32px;
    top: 50%;
    left: calc(0.5rem + 25px);
    transform: translate(-50%, -50%);
  }
  .t-shirt__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 6px;
  }
  button {
    --hue: 260;
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: 0;
    border-radius: 6px;
    outline: transparent;
    background: hsl(var(--hue, 260), 46%, calc(var(--lightness, 20) * 1%));
    box-shadow: 2px 2px 4px 0px #333;
    transition: box-shadow 0.15s;
  }
  button:active {
    box-shadow: 0px 0px 0px 0px #333;
  }
  