body {
    background-color: #000;
    overflow: hidden;
    margin: 0;
  }
  
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    filter: url(#displacementFilter) url(#lightMe1);
  }