@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Handjet&family=Major+Mono+Display&family=VT323&display=swap');
/*
font-family: 'Anonymous Pro', monospace;
font-family: 'Handjet', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'VT323', monospace;
*/

html, body{
  overflow: hidden;
  background: #000;
  padding: 0px;
  margin: 0px;
}

h1, p{
  margin: 0;
}

#canvas{
  border: 2px solid white;
}

.wrapper{
  width: 600px;
  margin: auto;
  /* display: flex; */
  color: #fff;
  column-gap: 2rem;
  margin-top: 2rem;
}

.half{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.title{
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 4rem;
  font-size: 3rem;
}

.lead{
  font-family: 'VT323', monospace;
  display: none;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.info{
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
  display: none;
  margin-bottom: 2rem;
}

.link{
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  display: none;
  text-decoration: underline;
}

.right{
  background: linear-gradient(white, white) bottom right/150px 2px, linear-gradient(white, white) bottom right/2px 150px, linear-gradient(white, white) top right/150px 2px, linear-gradient(white, white) top right/2px 150px;
	background-repeat: no-repeat;
  padding-right: 2rem;
}